@font-face{
    font-family: Quartz;
    src: url(./quardz.woff) format("woff");
        }
body{
    background-color: rgb(35, 122, 129);
}
.time h2{
font-size: 70px;
font-style: italic;
    font-family: Quartz;
    color: aqua;
}

.time h3 {
    font-style: italic;
      font-size: 60px;
    font-family: Quartz;
    color: aqua;
}
.time{
    border: 2px solid black;
    background-color: black;
     display: flex;
flex-direction: row;
align-items: center;
justify-content: center; 
border-radius: 10px;
}
.container h1 {
    text-align: center;
font-size: 60px;
}
.wrap{
    width: 500px;
    margin: 0 auto;
}
.scrn{
    border: 3px solid black;
    padding: 25px;
    border-radius: 30px;
    width: 500px;
    background-color: rgb(201, 201, 201);
    box-shadow: 50px 100px 100px;
}

.btn{
    text-align: center;
    margin-top: 15px;
}
.btn button{
background-color: black;
color: aqua;
width: 100px;
height: 40px;
font-size: 20px;
border: 1px solid black;
border-radius: 20px;
margin: 15px;
}
.sn h3{
    text-align: center;
    font-size: 32px;
}
.sn{
    width: 500px;
    padding: 5px;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(109, 188, 207);
    box-shadow: 50px 100px 100px;
}
.sn p{
    font-weight: bold;
    font-size: 20px;
    font-family: Quartz;
}



